<div class="container">
    <h2>Template Driven Form</h2>
    <h2>User Registeration Form</h2>
    <form #userForm="ngForm" (ngSubmit)="formSubmitted(userForm)">
        <table>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" placeholder="enter here" name="name" ngModel>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input type="email" placeholder="enter email" name="email"  [(ngModel)]="user.email">
                <!-- <p>{{emailField.valid}}</p> -->
            </td>
        </tr>
        <tr>
            <td>About</td>
            <td>
                <textarea name="about" id="" cols="21" rows="4" placeholder="enter here" [(ngModel)]="user.about"></textarea>
            </td>
        </tr>

        <tr>
            <td>Gender</td>
            <td>
                <input type="radio" name="gender" value="male"  [(ngModel)]="user.gender"/> Male
                <input type="radio" name="gender" value="female" [(ngModel)]="user.gender"/> Female
            </td>
        </tr>

        <tr>
            <td>City</td>
            <td>
                <select name="city" id="" [(ngModel)]="user.city">
                    <option value="lucknow">Lucknow</option>
                    <option value="london">London</option>
                    <option value="newyork">NewYork</option>
                    <option value="lasvegas">LasVegas</option>
                    <option value="edinburg">Edinburg</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button *ngIf="!userForm.submitted" type="submit">Submit</button>
                <button type="reset">Clear</button>
            </td> 
        </tr>
    </table>
    <div class="form-details">
    <h2>form details:</h2>
    <p>values: {{userForm.value | json}}</p>
    <p>valid: {{userForm.valid}}</p>
    <p>dirty: {{userForm.dirty}}</p>
    <p>touched: {{userForm.touched}}</p>
    <p>submitted: {{userForm.submitted}}</p>
</div>
    </form>
</div>
